<div class="container home-sections d-flex flex-row justify-content-center align-items-center">

  <div class="login-section pt-3">
    <div class="card text-center pt-5 mx-auto" style="width: 23rem;">
      <%= image_tag 'logo.png', class: "card-img-top" %>
      <p class="w-75 fs-6 fw-bold text-secondary align-self-center mt-2">Sign up to see photos and videos from your frineds.</p>

      <a href="#" class="d-block mt-4 text-decoration-none fw-bold bg-primary text-white rounded w-75 align-self-center p-1">
          <%= image_tag("facebook.png", class: "facebook") %>
          Log in with Facebook
      </a>

      <div class="d-flex align-items-center mt-4">
          <div class="line"></div>
          <h2 class="line-text">OR</h2>
          <div class="line"></div>
      </div>

      <div class="card-body">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

          <div class="mb-3 mt-4">
            <%= f.input :email, class: "form-control", placeholder: "Phone number or email", label: false %>
          </div>
          <div class="mb-3 mt-4">
            <%= f.input :full_name, class: "form-control", placeholder: "Full_name", label: false %>
          </div>
          <div class="mb-3 mt-4">
            <%= f.input :username, class: "form-control", placeholder: "Username", label: false %>
          </div>
          <div class="mb-3">
            <%= f.input :password, class: "form-control", placeholder: "Password", label: false %>
          </div>
          <div class="mb-3">
            <%= f.input :password_confirmation, class: "form-control", placeholder: "Password confirmation", label: false %>
          </div>
          <%= f.button :submit, "Sign up", class: "btn btn-primary w-100" %>

        <% end %>


        <% if notice %>
          <p class="notice"><%= notice %></p>
        <% else alert %>
          <p class="alert"><%= alert %></p>
        <% end %>
      </div>
    </div>

    <div class="card text-center py-2 mt-3 mx-auto" style="width: 23rem;">
      <div class="card-text">
        Have an account ?
        <%= link_to 'Sign in', new_user_session_path, class: "fs-6 my-4 text-decoration-none" %>
      </div>
    </div>

  </div>
</div>
